body {
  text-align: center;
}

.header {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.subheading {
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
}

.text {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.buttons {
  font-size: 25px;
  background-color: rgb(230, 230, 230);
  border: none;
  margin-right: 25px;
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons:hover {
  background-color: grey;
}

.is-toggled {
  background-color: black;
  color: white;
}
